.modalWrapper
    position: absolute
    height: 90vh
    width: 100%
    background-color: rgba(255, 255, 255, 0.8)
    z-index: 1

.startModalBlock
    max-width: 500px
    position: relative
    margin: 10vh auto 
    box-shadow: 0 0 20px #28a745

    .closeButton
        position: absolute
        top: -10px
        right: -10px
    .startCard
        text-align: center

i
    padding: 5px