.typingTestBlock
    background-color: #198754 !important
    margin-top: 40px 
    .card-body
        display: flex
        justify-content: space-between
        .card
            width: 65%
        .textContent
            margin: 0
            padding: 10px
            float:left
        .resultPanel
            font-weight: 700
            color: #fff
            width: 30%
            display: flex
            flex-direction: column
            justify-content: space-between
            .resultSpan
                font-size: 45px

.letter
    font-size: 21px
    line-height: 32px
    font-weight: 400
    
.blackLetter 
    color: #5c5c5c

.greenLetter
    color: #28a745

.redLetter
    color: white
    background-color: red

.currentLetter
    color: white
    background-color: #28a745